apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qdrant-data
  labels:
    app: qdrant
    app.kubernetes.io/name: qdrant
    app.kubernetes.io/component: vector-store
    app.kubernetes.io/part-of: cortex-plane
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 10Gi
