apiVersion: v1
kind: Service
metadata:
  name: postgres
  labels:
    app: postgres
    app.kubernetes.io/name: postgres
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: cortex-plane
spec:
  type: ClusterIP
  selector:
    app: postgres
  ports:
    - name: tcp
      port: 5432
      targetPort: tcp
      protocol: TCP
